@define-color bg rgba(26, 27, 38, 0.4);
@define-color normal rgba(26, 27, 38, 0.6);
@define-color hover rgba(76, 77, 88, 0.8);
@define-color press rgba(76, 77, 88, 0.2);
@define-color bg-noa rgb(26, 27, 38);

window {
  background-color: transparent;
}

.bar {
  background-color: @bg;
  border-radius: 8px;
  padding: 4px 4px;
  min-width: 32px;
}

.extended_bar,
.launcher {
  min-width: 360px;
}

.volume-widget {
  margin: 4px;
}

.volume-box {
  border-radius: 8px;
  margin: 4px;
  min-height: 4px;
}

.clock {
  border-radius: 8px;
  background-color: @bg;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2em;
  padding: 4px 0;
}

.clock-hours {
  color: white;
}

.clock-minutes {
  color: #ddd;
}

.clock-seconds {
  color: #bbb;
}

.music-indicator {
  background-color: @bg;
  border-radius: 8px;
}

.profile-picture,
.album-art {
  border-radius: 8px;
  min-height: 32px;
  min-width: 32px;
}

.playback-status {
  margin: 3px 0;
}

.system-stats {
  background-color: @bg;
  border-radius: 8px;
  color: white;
  font-family: monospace;
  font-weight: 700;
  font-size: 0.95em;
  padding: 4px 0;
}

.workspace-button {
  background-color: @bg;
  border-radius: 8px;
  color: #c0caf5;
  font-family: monospace;
  font-weight: bold;
  font-size: 1em;
  min-height: 20px;
  min-width: 20px;
  transition:
    background-color 0.3s,
    color 0.3s,
    min-width 0.2s;
}

.occupied {
  min-width: 24px;
}

.active {
  color: @bg-noa;
  min-width: 32px;
}

.active:nth-child(1) {
  background-color: #f7768e;
}

.active:nth-child(2) {
  background-color: #ff9e64;
}

.active:nth-child(3) {
  background-color: #e0af68;
}

.active:nth-child(4) {
  background-color: #9ece6a;
}

.active:nth-child(5) {
  background-color: #73daca;
}

.active:nth-child(6) {
  background-color: #7dcfff;
}

.active:nth-child(7) {
  background-color: #2ac3de;
}

.active:nth-child(8) {
  background-color: #7aa2f7;
}

.active:nth-child(9) {
  background-color: #bb9af7;
}

.active:nth-child(10) {
  background-color: #c0caf5;
}

.launcher {
  background-color: @bg;
  border-radius: 8px;
  padding: 8px;
}

.launcher-search {
  background-color: @normal;
  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  caret-color: white;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
}

.launcher-search:focus {
  border: 2px solid white;
  outline: none;
}

.application {
  all: unset;
  background-color: @normal;
  border-radius: 8px;
  color: white;
  padding: 8px;
}

.application:hover,
.application:focus {
  background-color: @hover;
}

.application:active {
  background-color: @press;
}

.application_name {
  font-size: 1.2em;
  font-weight: 500;
}

/*
*  Extended bar
*/

.profile_block {
  background-color: @bg;
  background-blend-mode: darken;
  border-radius: 8px;
  color: white;
  padding: 4px;
}

.username {
  font-weight: 600;
  font-size: 1.4em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.hostname {
  font-weight: 500;
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.6);
  font-family: monospace;
}

.workspace-button-big {
  color: white;
  font-family: "sans-serif";
  font-weight: 500;
  padding: 4px 8px;
}

.active {
  color: @bg-noa;
}

.workspace-name {
  font-weight: 600;
  font-size: 1.2em;
}

.clock-big {
  font-size: 1.4em;
  color: white;
}

.system-stats-big {
  padding: 4px 8px;
}

.system-stats-title {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

.currently-playing-big {
  background-color: @bg;
  border-radius: 8px;
  padding: 4px;
}

.album-art-big {
  border-radius: 8px;
  min-width: 72px;
  min-height: 72px;
}

.currently-playing-title {
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.currently-playing-artists {
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

calendar {
  background-color: @bg;
  border: none;
  border-radius: 8px;
  color: rgb(220, 220, 220);
  font-family: sans-serif;
  font-weight: 500;
  padding: 1px;
}

calendar .header,
calendar .highlight {
  background-color: @normal;
  color: white;
}

calendar .button {
  background-color: transparent;
  color: white;
}

calendar:selected {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

calendar:indeterminate {
  color: rgb(90, 90, 90);
}
